@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
    
}
main{
    margin: 50px 150px;
}
.btn-primary{
    padding: 15px 30px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600px;
    background-color: #006A50;
    border: none;
    border-radius: 10px;
}
.description{
    font-size: 16px;
    font-weight: 400px;
    color: #0e0e0ea1;
}

.hero{
    /* margin: 50px 150px; */
    padding: 80px;
    gap: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 10px;

}
.sub-heading{
    color: #0e0e0e7c;
    font-size: 20px;
}
.hero-heading{
    font-size: 50px;
    font-weight: bold;
}
.the-vision-of-future{
    /* margin: 50px 150px; */
}
.headline{
    font-size: 36px;
    font-weight: bold;
}
.card{
    padding: 30px;
    border-radius: 10px;
}
.card-heading{
    color: #000000d0;
    font-size: 18px;
    font-weight: bold;
}
.cards{   
    display: flex;
    gap: 30px;
}
.card-bg-1{
    background-color: #83a2cd45;  
}
#blue-btn{
    background-color: #5490F5;
}
.card-bg-2{
    background-color: #C6E4D6;  
}
.card-bg-3{
    background-color: #F7EBCF;   
}
#yellow-btn{
    background-color: #FFC239;
}
.yunus-section{
    background-color: #FFFFFF;
    
    margin: 50px 0;
    padding: 40px 20px;
    border-radius: 20px;
}
.yunus-div{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
}
.satelite{
    display: flex;
    background-color: #FFFFFF;
    padding: 50px;
    border-radius: 20px;
    gap: 50px;
    align-items: center;
    margin: 50px 0;
}
.satelite-img{
    border-radius: 20px;
}
.satelite-heading{
    font-size: 25px;
    font-weight: bold;
    color: #000000d0;
}
.donate{
    text-align: center;
}
.taka-div{
    display: flex;
    justify-content: space-around;
}
.tk{
    background-color: #FFFFFF;
    padding: 30px 35px;
    border-radius: 10px;
}
#tk200{
    background-color: #C6E4D6;
}
.donate{
    /* display: flex; */
    /* justify-content: center; */
    
    /* align-items: center; */
}
.donate-input{
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    display: block;
    text-align: center;
    border: none;
    border-radius: 5px;
}
.donate-btn{
    
    margin-top: 10px;
    display: block;
}
.subscribe-section{
    margin-top: 50px;
    text-align: center;
    background-color: #C6E4D6;
    padding: 50px 0px;
    border-radius: 10px;
}
.subscribe-section input{
    width: 60%;
    padding: 15px 5px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    /* margin: auto; */
}
#subscribe-btn{
    border-radius: 0 10px 10px 0;
}
.subscribe-section a{
    margin-top: 0;
    /* display: inline; */
}
.subscribe-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    padding: 50px;
    background-color: #FFFFFF;
    justify-content: center;
    text-align: center;
}
hr{
    width: 70%;
}